.SpeacialCare{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SpecialCareDiv1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.SpeacialCareName{
    font-size: 1rem;
    border: 1px solid rgb(210, 205, 205);
    letter-spacing: 0.5rem;
    width: 50%;
    text-align: center;
} 
.SpeacialCareHeading{
    font-size: 2.5rem;
    font-weight: 600;
    
}
.SpecialCareSubHeading{
    font-size: 1.1rem;
    width: 90%;
}
.SpecialCareBadges{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
}
.SpecialCareImage{
    width: 50%;
}
@media screen and (min-width:0) and (max-width:780px) {
    .SpeacialCare{
        width: 90%;
        margin: 4rem auto;
        gap: 2rem;
        flex-direction: column-reverse;
    }
    .SpecialCareDiv1{
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
    .SpeacialCareName{
        width: 40%;
        margin: 0 auto;
        font-size: 0.9rem;
    } 
    .SpeacialCareHeading{
        font-size: 2rem;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .SpecialCareSubHeading{
        font-size: 1.1rem;
        width: 80%;
        margin: 0 auto;
    }
    .SpecialCareBadges{
        width: 80%;
        margin: 0 auto;
    }
    .SpecialCareImage{
        width: 80%;
        margin: 0 auto;
    }
}